header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #222;
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 1px;
        color: #000;
    }
    .left_deco,.right_deco{
        position: fixed;
        font-size: 100px;
        color: #c5c5c5;
    }
    .left_deco{
        top: 50px;
        left: 50px;
    }
    .right_deco{
        top: 800px;
        right: 50px;
    }
    .h_inner{
        max-width: 1460px;
        height: 100%;
        margin: 0 auto;
        .gnb{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px 0;
            position: relative;
            color: #999;
            font-weight: bold;
            li{
                position: relative;
                display: inline-block;
                cursor: pointer;
                transition: all 400ms cubic-bezier(0.770,0.000,0.175,1.000) 0s;
                &:hover{
                    color: #f3790b;
                }
                &:after{
                        content: "";
                        position: absolute;
                        left: 1px;
                        bottom: -10px;
                        width: 95%;
                        border: 2px solid #f3790b;
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: all 400ms cubic-bezier(0.770,0.000,0.175,1.000) 0s;
                }
                &:hover::after{
                    transform: scaleX(1);
                }
            }
        }
        h1,p{
            position: absolute;
            left: 398px;
        }
        h1{
            font-size: 2.5rem;
            top: 294px;
        }
        
        p{
            font-size: 1.5rem;
            top: 340px;
            color: #999;
        }
          .content{
            color:#999;
            text-transform: uppercase;
            font-size:36px;
            font-weight:bold;
            padding-top:200px;  
            position:fixed;
            width:100%;
            bottom:45%;
            display:block;
          
          
        }
    }
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);
.text_ani3{
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 50%; 
    left: 0;
    transform: translateY(-50%);
    text {
        text-transform: uppercase;
        animation: stroke 5s 1 alternate;
        stroke-width: 1;
        fill: transparent;
        stroke: #fff;
        font-size: 42px;
        font-weight: bold;
      }
}
.text_ani2{
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 58%; 
    left: 0;
    transform: translateY(-50%);
    text {
        text-transform: uppercase;
        animation: stroke 5s 1 alternate;
        stroke-width: 1;
        fill: transparent;
        stroke: #fff;
        font-size: 24px;
        font-weight: bold;
      }
}
.text_ani {
    font-family: 'Russo One', sans-serif;
    position: absolute;
    top: 42%; 
    left: -85px;
    transform: translateY(-50%);
  text {
    text-transform: uppercase;
    animation: stroke 5s 1 alternate;
    stroke-width: 1;
    stroke: #fff;
    fill: transparent;
    font-size: 42px;
    font-weight: bold;
  }
  @keyframes stroke {
    0%   {
       stroke: #f7f7f7;
      stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
    }
    70%  { stroke: #f7f7f7; }
    80%  { stroke: #f7f7f7; stroke-width: 2;}
    100% {
       stroke: #f7f7f7; 
      stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 2;
    }
  }
}

$spin-time: 5.5s;
$circle-size: 55vmin;
$circle-stroke: 2.5vmin;
$displacement: 0%;

.circles {
    z-index: 1;
    height: $circle-size;
    width: $circle-size;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
}

.circle {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: $circle-stroke solid transparent;
    border-radius: 115% 140% 145% 110%/125% 140% 110% 125%;
    mix-blend-mode: screen;
    &:nth-child(1) {
        border-color: #DB4437;
        transform-origin: 50%-$displacement 50%;
        animation: spin1 $spin-time linear infinite;
    }
    &:nth-child(2) {
        border-color: #F4B400;
        transform-origin: 50% 50%+$displacement;
        animation: spin2 $spin-time linear infinite;
    }
    &:nth-child(3) {
        border-color: #4285F4;
        transform-origin: 50%+$displacement 50%;
        animation: spin3 $spin-time linear infinite;
    }
    &:nth-child(4) {
        border-color: #0F9D58;
        transform-origin: 50% 50%-$displacement;
        animation: spin4 $spin-time linear infinite;
    }
}

@keyframes spin1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(72deg);
    }
    100% {
        transform: rotate(-288deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(-144deg);
    }
    100% {
        transform: rotate(216deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(216deg);
    }
    100% {
        transform: rotate(-144deg);
    }
}
.warning {
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    padding: 50%;
    width: 80%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate3D(-50%, -50%, 0);
}

@supports (mix-blend-mode: screen) {
    .warning{
        display: none;
    }
}